.about{
    @include max-width;
    padding: 7rem;
    p{
        font-family: $font-content;
        font-size: 1.3rem;
        line-height: 1.7rem;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    section:not(:last-child){
        margin-bottom: 6rem;
    }
}

.about-mdg{
    display: flex;
    .mdg-left{
        padding-right: 2rem;
        img{
            width: 650px;
            height: 670px;
            object-fit: cover;
            border: 2px solid $color-red;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
        }
    }

    .mdg-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.about-rf{
    display: flex;
    flex-direction: row-reverse;
    .rf-left{
        padding-left: 2rem;
        img{
            width: 650px;
            height: 470px;
            object-fit: cover;
            border: 2px solid $color-red;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
        }
    }

    .rf-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.r-top{
    display: flex;
    margin-bottom: 4.5rem;
    .r-left{
        padding-right: 2rem;
        img{
            width: 650px;
            height: 516px;
            object-fit: cover;
            border: 2px solid $color-red;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
        }
    }

    .r-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.r-actions-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    font-family: $font-content;
    .r-actions-item{
        display: flex;
        flex-direction: column;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s linear;
        }
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        span{
            background-color: $color-red;
            padding: 1.5rem;
            color: white;
            text-align: center;
        }
    }

}

// ----------- RESPONSIVE ----------
@media screen and (max-width:1390px){
    .about-mdg .mdg-left img, .about-rf .rf-left img, .about-r .r-left img {
        width: 450px;
        height: 100%;
    }
}

@media screen and (max-width:1150px){
    .about p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1050px){
    .about-mdg, .about-rf, .r-top {
        display: block;
    }

    .about p {
        font-size: 1.3rem;
    }

    .about-mdg .mdg-left img, .about-rf .rf-left img, .about-r .r-left img {
        width: 100%;
        height: 100%;
    }
    .about-mdg .mdg-left, .r-top .r-left {
        padding-right: 0rem;
    }
    .about-rf .rf-left{
        padding-left: 0rem;
    }
}

@media screen and (max-width: 720px){
    .about {
        padding: 2rem;
    }
}
@media screen and (max-width: 500px){
    .about p {
        font-size: 1.1rem;
    }
}
