.album{
    font-family: $font-content;
    margin: 0 auto;
    width: 50%;
    padding: 3.5rem;
}

.fil-ariane{
    margin-bottom: 50px;
    a:after{
        content: "";
        display: inline-block;
        background-image: url('/storage/assets/next.svg');
        width: 15px;
        height: 15px;
        margin: 0 5px 0 10px;
        vertical-align: middle;
    }
}

.album-wrapper{
    display: flex;
    flex-wrap: wrap;
    .photo-wrapper{
        flex: 1 1 25%;
        img{
            width: 100%;
            border: 3px solid rgba(86, 33, 33, 0.4);
        }
    }
}
