.contact{
    @include max-width;
    padding: 7rem;
    .contact-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.contact-wrapper{
    display: flex;
    margin-bottom: 10rem;
}


.contact-left{
    background-color: $color-red;
    color: white;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
}

.contact-left-list{
    dd{
        font-size: 1.6rem;
        font-family: $font-heading;
        margin-bottom: 10px;
    }

    dt{
        font-family: $font-content;
        font-size: 1.2rem;
        &:not(:last-child){
            margin-bottom: 50px;
        }
        span{
            display: block;
            margin-bottom: 7px;
        }
    }

    .list-email::before{
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url('/storage/assets/email.svg');
        vertical-align: text-top;
        margin-right: 10px;
    }
    .list-telephone::before{
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url('/storage/assets/phone.svg');
        vertical-align: text-top;
        margin-right: 10px;
    }
    .list-courrier::before{
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url('/storage/assets/letter.svg');
        vertical-align: text-top;
        margin-right: 10px;
    }
}

.contact-right{
    flex: 1;
    margin-left: 50px;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem 7rem;
    font-family: $font-content;
    div{
        display:flex;
        flex-direction: column;
        label{
            margin-bottom: 0.3rem;
            font-size: 1.3rem;
        }
        input, textarea{
            font-family: $font-content;
            padding: 0.8rem 0.9rem;
            font-size: 1.05rem;
            border: 1px solid $color-red;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
            resize: none;
            &:focus{
                background-color: $color-cta;

            }
        }
    }
    .form-subject{
        grid-column: 1/3;
    }
}


.missingInfo{
    .missingInfo-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        text-align: center;
    }
}

.missingInfo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    .missingInfo-span{
        font-family: $font-heading;
        font-size: 2rem;
    }
    .missingInfo-item{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s linear;
        }

        img,iframe{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 2px solid $color-red
        }
        span{
            background-color: $color-red;
            color: white;
            font-family: $font-content;
            text-align: center;
            padding: 1.5rem;
            font-size: 1.2rem;

        }
    }
}


