.exhibitors{
    @include max-width;
    padding: 7rem;
}

.exhibitors-list{
    margin-bottom: 5.5rem;
}

.exhibitors-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    .top-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.top-filter{
    display: flex;
    gap: 2rem;
    select, input{
        font-family: $font-content;
        font-size: 1.1rem;
        border: 2px solid $color-red;
        padding: 0.5rem 0.9rem;
    }
}

.filter-input-wrapper{
    position: relative;
    input{
        padding-right: 3rem;
    }
    .icon-search{
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

.exhibitors-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
}

.exhibitors-item{
    font-family: $font-content;
    font-size: 1.2rem;
    background-color: $color-red;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    &:hover{
        background-color:  #361515;
    }
    span:not(:last-child){
        margin-bottom: 10px;
    }
    .item-title{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .item-placement{
        &::before{
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            background-image: url('/storage/assets/rightArrow.svg');
            background-repeat: no-repeat;
            vertical-align: unset;
            margin-right: 10px;

        }
    }
    .item-country{
        &::before{
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            background-image: url('/storage/assets/location.svg');
            background-repeat: no-repeat;
            vertical-align: unset;
            margin-right: 10px;

        }
    }


    .item-keywords{
        margin-top: 10px;
        span{
            background-color: white;
            border-radius: 30px;
            padding: 3px 10px;
            color: black;
            font-size: 0.9rem;
            &:not(:last-child){
                margin-right: 5px;
            }
        }
    }
}


.become-exhibitor{
    .be-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.be-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem 7rem;
    font-family: $font-content;
    div{
        display:flex;
        flex-direction: column;
        label{
            margin-bottom: 0.3rem;
            font-size: 1.3rem;
        }
        input, textarea{
            font-family: $font-content;
            padding: 0.8rem 0.9rem;
            font-size: 1.05rem;
            border: 1px solid $color-red;
            box-shadow: 7px 7px 18px -11px rgba(0,0,00,0.5);

            resize: none;
            &:focus{
                background-color: $color-cta;

            }
        }
    }

    .form-postal-location{
        display: flex;
        flex-direction: row;
        gap: 0.9rem;
    }
}

.form-informations{
    grid-column: 1/3;
    textarea{
        height: 200px
    }

}


.form-submit{
    grid-column: 2/3;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    input[type="submit"]{
        padding: 0.8rem 4rem;
        background-color: $color-red-light;
        color: white;
        &:hover{
            background-color: $color-red;
            border-color: $color-cta;
            color: white;
        }
    }
}

