.home-intro{
    font-family: $font-content;

    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 3.5rem;

    div{
        margin-bottom: 2rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        strong{
            font-weight: bold;
        }
    }

    .home-intro-link{
        text-decoration: none;
        color: black;
        background-color: $color-cta;
        border: 1px solid $color-red;
        padding: 0.9rem;
        border-radius: 9px;
        font-size: 1.563rem;
        margin-bottom: 2rem;
        display: block;
        width: 250px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: $color-red;
            border-color: $color-cta;
            color: white;
            &:before{
                background-image: url('/storage/assets/ticket-white.svg');
            }
        }
        &:before{
            content:'';
            display: inline-block;
            background-image: url('/storage/assets/ticket.svg');
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
    }
}

.home-countdown {
    width: 100%;
    height: 300px;
    font-family: $font-heading;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    padding: 5.5rem 0;
    &::after {
        content: "";
        background-image: url('/storage/img/background-countdown.jpg');
        background-position: center -750px;
        background-repeat: no-repeat;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }



    .home-countdown-text{
        text-align: center;
        font-size: 3rem;
        font-style: italic;
        margin-bottom: 2.5rem;
        margin-top: 2rem;
    }

    .countdown-wrapper{
        font-size: 4.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        .countdown-item{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;

            span+span{
                font-size: 1.5rem;
            }
        }
    }
}


.home-infos{
    @include max-width;
    font-family: $font-content;
    margin-top: -35px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    bottom: -80px;

    .infos-item{
        background-color: $color-red;
        font-size: 1.5rem;
        color: white;
        padding: 3rem;
        text-align: center;
        flex: 0 0 200px;
        border-radius: 10px;
    }

    .item-date{
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1.9rem;
        span:before {
            content:"";
            display:block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 35px;
            background-image: url("/storage/assets/calendar.svg");
        }
    }
    .item-price{
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1.9rem;
        span:before {
            content:"";
            display:block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 35px;
            background-image: url("/storage/assets/euro.svg");
        }
    }
    .item-adress{
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 1.9rem;
        span:before {
            content:"";
            display:block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 35px;
            background-image: url("/storage/assets/location.svg");
        }
    }
}


.home-album{
    @include max-width;
    padding: 6.5rem;
    .album-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.album-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    .album-item{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        img{
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        span{
            font-family: $font-content;
        }
    }
}


// ---------- RESPONSIVE ----------
@media screen and (min-width: 1980px){
    .home-countdown{
        &:after{
            background-size: 100%;
        }

    }
}

@media screen and (max-width: 1185px){
    .home-album{
        .album-title{
            text-align: center;
        }
    }
}

@media screen and (max-width: 1060px){
    .home-intro{
        width: auto;
    }

    .home-infos .infos-item {
        font-size: 1.3rem;
        flex: 0 0 132px;
    }

}

@media screen and (max-width: 870px){
    .home-countdown .countdown-wrapper {
        font-size: 3.5rem;
        gap: 1rem;
    }

}

@media screen and (max-width: 850px){
    .home-countdown .countdown-wrapper {
        font-size: 3.5rem;
        gap: 1rem;
    }

    .album-wrapper{
        .album-item{
            margin-bottom: 20px;
        }
    }

}
