.billeterie{
    @include max-width;
    padding: 7rem;
    .billeterie-title{
        font-family: $font-heading;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.billeterie-alert{
    padding: 2rem;
    background-color: $color-red;
    color: white;
    font-family: $font-content;
    line-height: 1.5rem;
    font-size: 1.1rem;
    /* &:before{
        content: '';
        background-image: url('/storage/assets/search.svg');
        display: inline;
        width: 20px;
        height: 20px;
    } */
}
