
.menuResponsive{
    @include max-width;
}
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;
    font-family: $font-content;
    font-size: 1.2rem;

    .active{
        border-bottom: 1px solid $color-red;
    }

    .header-menu-item{
        img{
            width: 180px;
        }
    }
    .header-menu-link{
        color: black;
        text-decoration: none;
    }
}

.header-background{
    width: 100%;
    height: 400px;
    background-image: url('/storage/img/background-header.jpg');
    background-size: 100%;
    background-position: center -750px;
    background-repeat: no-repeat;
}

.menuResponsive{
    .menuResponsive-img{
        display: none;
    }
    .menuResponsive-menu{
        display: none;
    }
}



// RESPONSIVE
@media screen and (max-width:1060px){
    .header-menu{
        justify-content: space-between;
        .header-menu-item:not(.menu-item-logo){
            display: none;
        }
    }

    .menuResponsive{
        .menuResponsive-img{
            display: block;
            width: 50px;
        }
    }
}

@media screen and (max-width:420px){
    .header-menu{
        justify-content: space-between;
        .header-menu-item:not(.menu-item-logo){
            display: none;
        }
        img{
            width: 100px;
        }
    }

    .menuResponsive{

    }

}
