@import url(https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;

0,700;1,400;1,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: #F4F4F4;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.menuResponsive {
  max-width: 1340px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.header-menu .active {
  border-bottom: 1px solid #562121;
}

.header-menu .header-menu-item img {
  width: 180px;
}

.header-menu .header-menu-link {
  color: black;
  text-decoration: none;
}

.header-background {
  width: 100%;
  height: 400px;
  background-image: url("/storage/img/background-header.jpg");
  background-size: 100%;
  background-position: center -750px;
  background-repeat: no-repeat;
}

.menuResponsive .menuResponsive-img {
  display: none;
}

.menuResponsive .menuResponsive-menu {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header-menu {
    justify-content: space-between;
  }

  .header-menu .header-menu-item:not(.menu-item-logo) {
    display: none;
  }

  .menuResponsive .menuResponsive-img {
    display: block;
    width: 50px;
  }
}

@media screen and (max-width: 420px) {
  .header-menu {
    justify-content: space-between;
  }

  .header-menu .header-menu-item:not(.menu-item-logo) {
    display: none;
  }

  .header-menu img {
    width: 100px;
  }
}

.home-partenaires {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 3rem;
}

.home-partenaires img {
  width: 20%;
  height: auto;
}

.footer {
  font-family: "Titillium Web", sans-serif;
}

.footer .active {
  border-bottom: 1px solid white;
}

.footer .footer-top {
  background-color: #562121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.footer .footer-bottom {
  background-color: #411A1A;
  padding: 1.3em;
}

.footer .footer-bottom .footer-menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer .footer-bottom .footer-menu-link {
  color: white;
  text-decoration: none;
}

.home-intro {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 3.5rem;
}

.home-intro .home-intro-text {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.home-intro .home-intro-link {
  text-decoration: none;
  color: black;
  background-color: #FDEEDB;
  border: 1px solid #562121;
  padding: 0.9rem;
  border-radius: 9px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  display: block;
  width: 200px;
  margin: 0 auto;
}

.home-intro .home-intro-link:hover {
  background-color: #562121;
  border-color: #FDEEDB;
  color: white;
}

.home-countdown {
  width: 100%;
  height: 300px;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  padding: 5.5rem 0;
}

.home-countdown::after {
  content: "";
  background-image: url("/storage/img/background-countdown.jpg");
  background-size: 100%;
  background-position: center -750px;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home-countdown .home-countdown-text {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.home-countdown .countdown-wrapper {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.home-countdown .countdown-wrapper .countdown-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.home-countdown .countdown-wrapper .countdown-item span + span {
  font-size: 1.5rem;
}

.home-infos {
  max-width: 1340px;
  margin: 0 auto;
  margin-top: -35px;
  position: relative;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex: 0 0 33%;
  gap: 3.5rem;
  bottom: -80px;
}

.home-infos .infos-item {
  background-color: #562121;
  font-size: 1.5rem;
  color: white;
  padding: 3rem;
  text-align: center;
  flex: 0 0 200px;
  border-radius: 10px;
}

.home-infos .item-date span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url("/storage/assets/calendar.svg");
}

.home-infos .item-price {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-infos .item-price span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url("/storage/assets/euro.svg");
}

.home-infos .item-adress {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-infos .item-adress span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url("/storage/assets/location.svg");
}

.home-album {
  max-width: 1340px;
  margin: 0 auto;
  padding: 6.5rem;
}

.home-album .album-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.album-wrapper {
  display: flex;
  justify-content: space-between;
}

.album-wrapper .album-item {
  background-color: red;
  width: 300px;
  height: 300px;
}

.album-wrapper .album-item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-wrapper .album-item span {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.about {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.about p {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.about p:not(:last-child) {
  margin-bottom: 2rem;
}

.about section:not(:last-child) {
  margin-bottom: 6rem;
}

.about-mdg {
  display: flex;
}

.about-mdg .mdg-left {
  padding-right: 2rem;
}

.about-mdg .mdg-left img {
  width: 650px;
  height: 670px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.about-mdg .mdg-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-rf {
  display: flex;
  flex-direction: row-reverse;
}

.about-rf .rf-left {
  padding-left: 2rem;
}

.about-rf .rf-left img {
  width: 650px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.about-rf .rf-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.r-top {
  display: flex;
  margin-bottom: 4.5rem;
}

.r-top .r-left {
  padding-right: 2rem;
}

.r-top .r-left img {
  width: 650px;
  height: 516px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.r-top .r-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.r-actions-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.r-actions-wrapper .r-actions-item {
  display: flex;
  flex-direction: column;
}

.r-actions-wrapper .r-actions-item:hover {
  transform: scale(1.1);
  transition: 0.5s linear;
}

.r-actions-wrapper .r-actions-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.r-actions-wrapper .r-actions-item span {
  background-color: #562121;
  padding: 1.5rem;
  color: white;
  text-align: center;
}

.exhibitors {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.exhibitors-list {
  margin-bottom: 5.5rem;
}

.exhibitors-top {
  display: flex;
  justify-content: space-between;
}

.exhibitors-top .top-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.top-filter {
  display: flex;
  gap: 2rem;
}

.top-filter select,
.top-filter input {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border: 2px solid #562121;
  padding: 0.5rem 0.9rem;
}

.exhibitors-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.exhibitors-item {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #562121;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
}

.exhibitors-item span:not(:last-child) {
  margin-bottom: 10px;
}

.exhibitors-item .item-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.exhibitors-item .item-placement::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("/storage/assets/rightArrow.svg");
  background-repeat: no-repeat;
  vertical-align: unset;
  margin-right: 10px;
}

.exhibitors-item .item-country::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("/storage/assets/location.svg");
  background-repeat: no-repeat;
  vertical-align: unset;
  margin-right: 10px;
}

.exhibitors-item .item-keywords {
  margin-top: 10px;
}

.exhibitors-item .item-keywords span {
  background-color: white;
  border-radius: 30px;
  padding: 3px 10px;
  color: black;
  font-size: 0.9rem;
}

.exhibitors-item .item-keywords span:not(:last-child) {
  margin-right: 5px;
}

.become-exhibitor .be-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.be-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 7rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.be-form div {
  display: flex;
  flex-direction: column;
}

.be-form div label {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.be-form div input,
.be-form div textarea {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  font-size: 1.05rem;
  border: 1px solid #562121;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
  resize: none;
}

.be-form div input:focus,
.be-form div textarea:focus {
  background-color: #FDEEDB;
}

.be-form .form-postal-location {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}

.form-informations {
  grid-column: 1/3;
}

.form-informations textarea {
  height: 200px;
}

.form-submit {
  display: block;
  width: 150px;
  padding: 0.9rem;
  background-color: #FDEEDB;
  border: 1px solid #562121;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #562121;
  border-color: #FDEEDB;
  color: white;
}

.informations {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.informations .informations-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.informations .informations-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.informations-right iframe {
  border: 2px solid #562121;
}

.left-wrapper {
  background-color: #562121;
  color: white;
  padding: 2rem 3rem;
}

.left-list dd {
  font-size: 2rem;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.left-list dt {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.left-list dt:not(:last-child) {
  margin-bottom: 35px;
}

.informations-supp .supp-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.supp-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.supp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  text-align: center;
}

.supp-item .supp-item-photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
}

.supp-item .supp-item-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.supp-item .supp-item-desc {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.contact {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.contact .contact-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact-wrapper {
  display: flex;
  margin-bottom: 10rem;
}

.contact-left {
  background-color: #562121;
  color: white;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}

.contact-left-list dd {
  font-size: 1.6rem;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.contact-left-list dt {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.contact-left-list dt:not(:last-child) {
  margin-bottom: 35px;
}

.contact-left-list .list-email::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("/storage/assets/email.svg");
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-left-list .list-telephone::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("/storage/assets/phone.svg");
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-left-list .list-courrier::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("/storage/assets/letter.svg");
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-right {
  flex: 1;
  margin-left: 50px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem 7rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.contact-form div {
  display: flex;
  flex-direction: column;
}

.contact-form div label {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.contact-form div input,
.contact-form div textarea {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  font-size: 1.05rem;
  border: 1px solid #562121;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
  resize: none;
}

.contact-form div input:focus,
.contact-form div textarea:focus {
  background-color: #FDEEDB;
}

.contact-form .form-subject {
  grid-column: 1/3;
}

.missingInfo .missingInfo-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.missingInfo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.missingInfo-wrapper .missingInfo-span {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.missingInfo-wrapper .missingInfo-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.missingInfo-wrapper .missingInfo-item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
}

.missingInfo-wrapper .missingInfo-item span {
  background-color: #562121;
  color: white;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
}

