@import url(https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;

0,700;1,400;1,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: #F4F4F4;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.icon-search {
  display: block;
  background-image: url(/images/search.svg?ecef733a33ceec8dc32d29510998afe9);
  width: 25px;
  height: 25px;
}

.alert-danger {
  margin-top: 5px;
  font-weight: bold;
  color: darkred;
}

.success {
  padding: 1rem;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 1.25rem;
  background-color: lightgreen;
  margin-bottom: 50px;
  font-weight: bold;
}

.error-input {
  border: 2px solid darkred !important;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.header-menu .active {
  border-bottom: 1px solid #562121;
}

.header-menu .header-menu-item img {
  width: 180px;
}

.header-menu .header-menu-link {
  color: black;
  text-decoration: none;
}

.header-menu .menu-ticketing {
  padding: 0.8rem 0.9rem;
  background-color: #562121;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu .menu-ticketing:hover {
  background-color: #411A1A;
}

.header-menu .menu-ticketing:before {
  content: "";
  display: inline-block;
  background-image: url(/images/ticket-white.svg?250b376b6808ec58d50f4bebc6f84c5f);
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header-background {
  width: 100%;
  height: 400px;
  background-image: url(/images/background-header.jpg?ea96b07a7030d4780fdb0555306b1b45);
  background-position: center -750px;
  background-repeat: no-repeat;
}

.menuResponsive .menuResponsive-img {
  display: none;
}

.menuResponsive .menuResponsive-menu {
  display: none;
}

.menuResponsive-on {
  display: block !important;
}

@media screen and (min-width: 1980px) {
  .header-background {
    background-size: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .header-menu {
    justify-content: space-between;
    padding-left: 0;
  }

  .header-menu .header-menu-item:not(.menu-item-logo) {
    display: none;
  }

  .menuResponsive {
    position: relative;
  }

  .menuResponsive .menuResponsive-menu {
    background-color: #562121;
    padding: 2rem;
    position: absolute;
    right: 0;
    width: 200px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
  }

  .menuResponsive .menuResponsive-img {
    display: block;
  }

  .menuResponsive .menuResponsive-img img {
    display: block;
    width: 40px;
    cursor: pointer;
  }

  .menuResponsive .menuResponsive-item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 5px;
  }

  .menuResponsive .menuResponsive-item:not(:last-child):hover {
    border-bottom: 1px solid white;
  }

  .menuResponsive a.menuResponsive-link {
    color: white;
    font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 3rem;
  }

  .header-background {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .header-menu {
    justify-content: space-between;
  }

  .header-menu .header-menu-item:not(.menu-item-logo) {
    display: none;
  }

  .header-menu img {
    width: 100px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.home-partenaires {
  background-color: white;
}

.home-partenaires .home-partenaires-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
}

.home-partenaires img {
  width: 300px;
  height: auto;
}

.footer {
  font-family: "Titillium Web", sans-serif;
}

.footer .active {
  border-bottom: 1px solid white;
}

.footer .footer-top {
  background-color: #562121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.footer .footer-bottom {
  background-color: #411A1A;
  padding: 1.3em;
}

.footer .footer-bottom .footer-menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .footer-bottom .footer-menu-link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 740px) {
  .footer-top img {
    width: 60%;
  }
}

.home-intro {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 3.5rem;
}

.home-intro div {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.home-intro div strong {
  font-weight: bold;
}

.home-intro .home-intro-link {
  text-decoration: none;
  color: black;
  background-color: #FDEEDB;
  border: 1px solid #562121;
  padding: 0.9rem;
  border-radius: 9px;
  font-size: 1.563rem;
  margin-bottom: 2rem;
  display: block;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-intro .home-intro-link:hover {
  background-color: #562121;
  border-color: #FDEEDB;
  color: white;
}

.home-intro .home-intro-link:hover:before {
  background-image: url(/images/ticket-white.svg?250b376b6808ec58d50f4bebc6f84c5f);
}

.home-intro .home-intro-link:before {
  content: "";
  display: inline-block;
  background-image: url(/images/ticket.svg?5fe3a9dc98307524f180d761075da5d8);
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.home-countdown {
  width: 100%;
  height: 300px;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  padding: 5.5rem 0;
}

.home-countdown::after {
  content: "";
  background-image: url("/storage/img/background-countdown.jpg");
  background-position: center -750px;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home-countdown .home-countdown-text {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.home-countdown .countdown-wrapper {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.home-countdown .countdown-wrapper .countdown-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.home-countdown .countdown-wrapper .countdown-item span + span {
  font-size: 1.5rem;
}

.home-infos {
  max-width: 1340px;
  margin: 0 auto;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  margin-top: -35px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  bottom: -80px;
}

.home-infos .infos-item {
  background-color: #562121;
  font-size: 1.5rem;
  color: white;
  padding: 3rem;
  text-align: center;
  flex: 0 0 200px;
  border-radius: 10px;
}

.home-infos .item-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.9rem;
}

.home-infos .item-date span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url(/images/calendar.svg?f3f4b1abc5ac7bc7008ca8d70ea7b4b6);
}

.home-infos .item-price {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.9rem;
}

.home-infos .item-price span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url(/images/euro.svg?1d6fb5b5e6e92bf7abde72d03d521952);
}

.home-infos .item-adress {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.9rem;
}

.home-infos .item-adress span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url(/images/location.svg?87fd57e2998d10e488d54f117f33bdab);
}

.home-album {
  max-width: 1340px;
  margin: 0 auto;
  padding: 6.5rem;
}

.home-album .album-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.home-album .home-noAlbum {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 1.3rem;
}

.home-album-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  text-align: center;
}

.home-album-wrapper .album-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-album-wrapper .album-item:hover img {
  -o-object-fit: none;
     object-fit: none;
  border: 4px solid #562121;
}

.home-album-wrapper .album-item a {
  text-decoration: none;
}

.home-album-wrapper .album-item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #562121;
}

.home-album-wrapper .album-item span {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  display: block;
}

@media screen and (min-width: 1980px) {
  .home-countdown:after {
    background-size: 100%;
  }
}

@media screen and (max-width: 1185px) {
  .home-album .album-title {
    text-align: center;
  }
}

@media screen and (max-width: 1060px) {
  .home-intro {
    width: auto;
  }

  .home-infos .infos-item {
    font-size: 1.3rem;
    flex: 0 0 132px;
  }
}

@media screen and (max-width: 870px) {
  .home-countdown .countdown-wrapper {
    font-size: 3.5rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .home-countdown .countdown-wrapper {
    font-size: 3.5rem;
    gap: 1rem;
  }

  .album-wrapper .album-item {
    margin-bottom: 20px;
  }

  .home-album {
    max-width: 1340px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
  }
}

.about {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.about div {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.about div:not(:last-child) {
  margin-bottom: 2rem;
}

.about div strong {
  font-weight: bold;
}

.about section:not(:last-child) {
  margin-bottom: 6rem;
}

.about-mdg {
  display: flex;
}

.about-mdg .mdg-left {
  padding-right: 2rem;
}

.about-mdg .mdg-left img {
  width: 650px;
  height: 670px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.about-mdg .mdg-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-rf {
  display: flex;
  flex-direction: row-reverse;
}

.about-rf .rf-left {
  padding-left: 2rem;
}

.about-rf .rf-left img {
  width: 650px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.about-rf .rf-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.r-top {
  display: flex;
  margin-bottom: 4.5rem;
}

.r-top .r-left {
  padding-right: 2rem;
}

.r-top .r-left img {
  width: 650px;
  height: 516px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.r-top .r-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.r-actions-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.r-actions-wrapper .r-actions-item {
  display: flex;
  flex-direction: column;
}

.r-actions-wrapper .r-actions-item:hover {
  transform: scale(1.1);
  transition: 0.5s linear;
}

.r-actions-wrapper .r-actions-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.r-actions-wrapper .r-actions-item span {
  background-color: #562121;
  padding: 1.5rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1390px) {
  .about-mdg .mdg-left img,
  .about-rf .rf-left img,
  .about-r .r-left img {
    width: 450px;
    height: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .about p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1050px) {
  .about-mdg,
  .about-rf,
  .r-top {
    display: block;
  }

  .about p {
    font-size: 1.3rem;
  }

  .about-mdg .mdg-left img,
  .about-rf .rf-left img,
  .about-r .r-left img {
    width: 100%;
    height: 100%;
  }

  .about-mdg .mdg-left,
  .r-top .r-left {
    padding-right: 0rem;
  }

  .about-rf .rf-left {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 720px) {
  .about {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .about p {
    font-size: 1.1rem;
  }
}

.exhibitors {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.exhibitors-list {
  margin-bottom: 5.5rem;
}

.exhibitors-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.exhibitors-top .top-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.top-filter {
  display: flex;
  gap: 2rem;
}

.top-filter select,
.top-filter input {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border: 2px solid #562121;
  padding: 0.5rem 0.9rem;
}

.top-filter input[type=submit] {
  padding: 0.5rem 2rem;
  background-color: #562121;
  cursor: pointer;
  color: white;
}

.top-filter input[type=submit]:hover {
  background-color: #411A1A;
}

.filter-input-wrapper {
  position: relative;
}

.filter-input-wrapper input {
  padding-right: 3rem;
}

.filter-input-wrapper .icon-search {
  position: absolute;
  right: 15px;
  top: 10px;
}

.exhibitors-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 2rem;
}

.exhibitors-item {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #562121;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
}

.exhibitors-item:hover {
  background-color: #361515;
}

.exhibitors-item span:not(:last-child) {
  margin-bottom: 10px;
}

.exhibitors-item .item-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.exhibitors-item .item-placement::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(/images/rightArrow.svg?9c59e9215341f894833f1b9f04072d9b);
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}

.exhibitors-item .item-country::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(/images/location.svg?87fd57e2998d10e488d54f117f33bdab);
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}

.exhibitors-item .item-email::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("/storage/assets/email.svg");
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}

.exhibitors-item .item-website::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(/images/globe.svg?5d9eacc3e4393d492d802146c5e77556);
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}

.exhibitors-item .item-keywords {
  margin-top: 10px;
}

.exhibitors-item .item-keywords span {
  background-color: white;
  border-radius: 30px;
  padding: 3px 10px;
  color: black;
  font-size: 0.9rem;
}

.exhibitors-item .item-keywords span:not(:last-child) {
  margin-right: 5px;
}

.exhibitors-pagination {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.exhibitors-pagination a,
.exhibitors-pagination span {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
}

.exhibitors-pagination a:hover:not(.pagination-next):not(.pagination-previous) {
  background-color: #562121;
  color: white;
  padding: 0.5rem;
}

.exhibitors-pagination .pagination-previous {
  background-image: url(/images/next.svg?bdfc0fe52bc6fb6fa7e42c2736de50ac);
  width: 20px;
  height: 20px;
  display: block;
  transform: rotate(180deg);
}

.exhibitors-pagination .pagination-next {
  background-image: url(/images/next.svg?bdfc0fe52bc6fb6fa7e42c2736de50ac);
  width: 20px;
  height: 20px;
  display: block;
}

.exhibitors-pagination .active span {
  color: #562121;
  text-decoration: underline;
  font-weight: bold;
}

.become-exhibitor .be-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.be-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 7rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.be-form div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.be-form div label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.be-form div input[type=text],
.be-form div input[type=email],
.be-form div input[type=tel],
.be-form div input[type=url],
.be-form div textarea,
.be-form div select {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  font-size: 1.25rem;
  border: 1px solid rgba(86, 33, 33, 0.4);
  box-shadow: 2px 2px 18px -11px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.be-form div input[type=text]:focus,
.be-form div input[type=email]:focus,
.be-form div input[type=tel]:focus,
.be-form div input[type=url]:focus,
.be-form div textarea:focus,
.be-form div select:focus {
  background-color: #FDEEDB;
}

.be-form .form-postal-location,
.be-form .form-firstname-name {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}

.be-form .selectbox {
  position: relative;
}

.be-form .selectbox .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.be-form .checkboxes {
  display: none;
  border: 1px solid rgba(86, 33, 33, 0.4);
}

.be-form .checkboxes label {
  display: block;
  padding: 0.8rem 0.9rem;
}

.be-form .checkboxes label:hover {
  background-color: #703838;
  color: white;
}

.form-informations {
  grid-column: 1/3;
}

.form-informations textarea {
  height: 200px;
}

.form-submit {
  grid-column: 2/3;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-end;
}

.form-submit input[type=submit] {
  padding: 1rem 4rem;
  background-color: #703838;
  border: 1px solid rgba(86, 33, 33, 0.4);
  color: white;
  font-weight: bold;
  width: 200px;
  font-size: 1.15rem;
  cursor: pointer;
}

.form-submit input[type=submit]:hover {
  background-color: #562121;
  border-color: #FDEEDB;
  color: white;
}

.checkboxesEl-on {
  display: block !important;
}

@media screen and (max-width: 890px) {
  .exhibitors-item {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 1140px) {
  .exhibitors-top {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .be-form {
    grid-gap: 2rem 3rem;
  }
}

@media screen and (max-width: 850px) {
  .top-filter {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 770px) {
  .be-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .exhibitors {
    padding: 2rem;
  }
}

.informations {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.informations .informations-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.informations .informations-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.informations-left {
  flex: 0 0 40%;
}

.informations-right {
  flex: 0 0 50%;
}

.informations-right iframe {
  border: 2px solid #562121;
  height: 100%;
  width: 100%;
}

.left-wrapper {
  background-color: #562121;
  color: white;
  padding: 2rem 3rem;
}

.left-list dd {
  font-size: 2rem;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.left-list dt {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.left-list dt:not(:last-child) {
  margin-bottom: 35px;
}

.left-list dt span {
  display: block;
  margin-bottom: 7px;
}

.left-list dt a {
  margin-top: 20px;
  color: white;
}

.informations-supp .supp-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.supp-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.supp-item {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.supp-item:hover {
  transform: scale(1.1);
  transition: 0.5s linear;
}

.supp-item .supp-item-photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
}

.supp-item .supp-item-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.supp-item .supp-item-desc {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.supp-item .supp-item-link {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: black;
}

@media screen and (max-width: 900px) {
  .informations .informations-wrapper {
    flex-direction: column;
  }

  .informations-left {
    margin-bottom: 50px;
  }

  .informations-right iframe {
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 748px) {
  .supp-item {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  .informations {
    padding: 2rem;
  }

  .informations-right iframe {
    height: 500px;
  }
}

.contact {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.contact .contact-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact-wrapper {
  display: flex;
  margin-bottom: 10rem;
}

.contact-left {
  background-color: #562121;
  color: white;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}

.contact-left-list dd {
  font-size: 1.6rem;
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.contact-left-list dt {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.contact-left-list dt:not(:last-child) {
  margin-bottom: 50px;
}

.contact-left-list dt span {
  display: block;
  margin-bottom: 7px;
}

.contact-left-list .list-email::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(/images/email.svg?0b9e2db436d604082deab1cad4fe8c11);
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-left-list .list-telephone::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(/images/phone.svg?a33d9d208911df528539985df99580b9);
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-left-list .list-courrier::before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(/images/letter.svg?1431a0e024745ac01d811fb8370ba5bd);
  vertical-align: text-top;
  margin-right: 10px;
}

.contact-right {
  flex: 1;
  margin-left: 50px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem 7rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.contact-form div {
  display: flex;
  flex-direction: column;
}

.contact-form div label {
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

.contact-form div input,
.contact-form div textarea {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  font-size: 1.25rem;
  border: 1px solid rgba(86, 33, 33, 0.4);
  box-shadow: 2px 2px 18px -11px rgba(0, 0, 0, 0.3);
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.contact-form div input:focus,
.contact-form div textarea:focus {
  background-color: #FDEEDB;
}

.contact-form .form-subject {
  grid-column: 1/3;
}

.form-message {
  grid-column: 1/3;
}

.form-message textarea {
  height: 200px;
}

.missingInfo .missingInfo-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.missingInfo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.missingInfo-wrapper .missingInfo-span {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.missingInfo-wrapper .missingInfo-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.missingInfo-wrapper .missingInfo-item:hover {
  transform: scale(1.1);
  transition: 0.5s linear;
}

.missingInfo-wrapper .missingInfo-item img,
.missingInfo-wrapper .missingInfo-item iframe {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #562121;
}

.missingInfo-wrapper .missingInfo-item span {
  background-color: #562121;
  color: white;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1150px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-left {
    margin-bottom: 50px;
  }

  .contact-right {
    margin-left: 0px;
  }

  .missingInfo-wrapper {
    justify-content: space-around;
    gap: 0;
  }
}

@media screen and (max-width: 930px) {
  .missingInfo-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .contact {
    padding: 2rem;
  }
}

.billeterie {
  max-width: 1340px;
  margin: 0 auto;
  padding: 7rem;
}

.billeterie .billeterie-title {
  font-family: "Amaranth", Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.billeterie-alert {
  padding: 2rem;
  background-color: #562121;
  color: white;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.checkout-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.checkout-wrap label {
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

.checkout-wrap input,
.checkout-wrap select {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  padding: 0.8rem 0.9rem;
  font-size: 1.25rem;
  border: 1px solid rgba(86, 33, 33, 0.4);
  box-shadow: 2px 2px 18px -11px rgba(0, 0, 0, 0.3);
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.checkout-wrap input:focus,
.checkout-wrap select:focus {
  background-color: #FDEEDB;
}

.checkout-wrap .form-email {
  grid-column: 1/5;
}

.checkout-wrap .form-name {
  grid-column: 1/3;
}

.checkout-wrap .form-cardCode {
  grid-column: 3/5;
}

.checkout-wrap .form-cardExpi {
  grid-column: 1/3;
}

.checkout-wrap .form-cardExpi div {
  display: flex;
}

.checkout-wrap .form-amount {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.checkout-wrap .form-submit {
  grid-column: 4/5;
}

#payment-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
}

.checkout-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.billeterie form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

.billeterie input,
.billeterie select {
  border-radius: 4px 4px 0 0;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  font-size: 16px;
  background: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.billeterie .result-message {
  line-height: 22px;
  font-size: 16px;
}

.billeterie .result-message a {
  color: #596fd6;
  font-weight: 600;
  text-decoration: none;
}

.billeterie .hidden {
  display: none;
}

.billeterie #card-error {
  color: #697386;
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

.billeterie #card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
  grid-column: 1/3;
}

.billeterie #payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */

.billeterie button {
  background: #411A1A;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.billeterie button:hover {
  filter: contrast(115%);
}

.billeterie button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}

.album {
  font-family: "Titillium Web", Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1340px;
  margin: 0 auto;
  padding: 3.5rem;
}

.fil-ariane {
  margin-bottom: 50px;
}

.fil-ariane a:after {
  content: "";
  display: inline-block;
  background-image: url(/images/next.svg?bdfc0fe52bc6fb6fa7e42c2736de50ac);
  width: 15px;
  height: 15px;
  margin: 0 5px 0 10px;
  vertical-align: middle;
}

.album-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.album-wrapper .photo-wrapper {
  flex: 1 1 25%;
}

.album-wrapper .photo-wrapper img {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #562121;
  -o-object-fit: cover;
     object-fit: cover;
}

