$color-red: #562121;
$color-red-dark: #411A1A;
$color-red-light: #703838;

$color-background: #F4F4F4;

$font-heading : 'Amaranth', Verdana, Arial, Helvetica, sans-serif;
$font-content: 'Titillium Web', Verdana, Arial, Helvetica, sans-serif;;
